*~.xml
*_dynamic_.*.dll
*_dynamic_.*.pdb

#Visual Studio garbage
.vs/
*.pdb
*.[Cc]ache
[Rr]elease/
[Dd]ebug/
[Oo]bj/

#OS junk files
[Tt]humbs.db
*.DS_Store
server.pid

/packs/AutomataUI/girlpower/logging.txt
